@font-face {
  font-family: Cyrene;
  src: url(cyrene.otf);
  font-weight: regular;
}

@font-face {
  font-family: TieLan;
  src: url(tielan.ttf);
  font-weight: regular;
}

*{
  margin: 0px;
}

html {
background-color: #256291;
}

#char {
  font-family: TieLan;
  color: white;
  font-size: 100px;
  position: absolute;
  top: 0px;
  left: 50px;
}

.jia {
  font-family: TieLan;
  color: white;
  font-size: 50px;
  border-radius: 100px;
  transition-duration: 1s;
  position: absolute;
  bottom: 30px;
  left: 650px;
}

.home {
  text-align:center;
}

.home:hover{
  background-color: #256291;
  border-color: white;
  cursor: pointer;
}

button {
  color: white;
  background-color: #256291;
  width: 80px;
  height:80px;
  border: solid white;
  border-radius: 100px;
  transition-duration: 1s;
}

button:hover {
  background-color: white;
  color: #256291;
  cursor: pointer;
}

#prev-btn {
  position: absolute;
  bottom: 50px;
  left: 50px;
}

#next-btn {
  position: absolute; 
  bottom: 50px;
  right: 50px;
}

.animated-line {
  margin:0 auto;
  width:5px;
  height:300px;
  overflow:hidden;
  background:white;
  position:relative;
}

.animated-line::before {
  content:'';
  display:block;
  width:5px;
  height:300px;
  background:#256291;
  position:absolute;
  top:-100%;
  left:0;
  animation: animate 5s ease-in-out infinite;
}

@keyframes animate {
  0% { top: 100%; }
  50% { top: 0; }
  100% { top: -100%; }
}