@font-face {
  font-family: Cyrene;
  src: url(cyrene.otf);
  font-weight: regular;
}

@font-face {
  font-family: TieLan;
  src: url(tielan.ttf);
  font-weight: regular;
}

*{
  margin: 0;
  bottom: 0px;
  overflow: hidden;
}

html {
  background-color: #256291;
}

#char {
  font-family: TieLan;
  color: white;
  font-size: 100px;
  position: absolute;
  top: 0px;
  left: 50px;
}

.jia {
  font-family: TieLan;
  color: white;
  font-size: 50px;
  border-radius: 100px;
  transition-duration: 1s;
  position: fixed;
  bottom: 30px;
  left: 50%;
}

.home:hover{
  background-color: #256291;
  border-color: white;
  cursor: pointer;
}

button {
  color: white;
  background-color: #256291;
  width: 80px;
  height:80px;
  border: solid white;
  border-radius: 100px;
  transition-duration: 1s;
}

button:hover {
  background-color: white;
  color: #256291;
  cursor: pointer;
}

#prev-btn {
  position: absolute;
  bottom: 50px;
  left: 50px;
}

#next-btn {
  position: absolute; 
  bottom: 50px;
  right: 50px;
}

#fig1, #fig2, #fig3, #fig4, #fig5, #fig6 {
  scale: 60%;
  position: absolute;
  -webkit-animation:spin 10s linear infinite;
  -moz-animation:spin 10s linear infinite;
  animation:spin 10s linear infinite;
}
@-moz-keyframes spin { 
  100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
  100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
  100% { 
      -webkit-transform: rotate(360deg); 
      transform:rotate(360deg); 
  } 
}

#fig1{
  left: 60px;
  bottom: -75px;
}

#fig2{
  bottom: -30px;
  left: 330px;
}

#fig3{
  top: -19%;
  left: -3%;
}


#fig4{
  right: 10%;
  bottom: -80px;
}


#fig5{
  right: -13%;
  top: 17%;
}

#fig6{
  top: -10%;
  right: 19%
}



